// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Theme
@import 'theme';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Components
@import 'components/index';

// @-webkit-keyframes zoom {
//   from {
//     -webkit-transform: scale(1, 1);
//   }
//   to {
//     -webkit-transform: scale(1.5, 1.5);
//   }
// }
//
// @keyframes zoom {
//   from {
//     transform: scale(1, 1);
//   }
//   to {
//     transform: scale(1.5, 1.5);
//   }
// }

.carousel-inner .carousel-item > img {
  -webkit-animation: zoom 20s;
  animation: zoom 20s;
}

.container-fluid {
  border-radius: 10px 10px 10px 10px;
}
